@inherits QuestionBase



<div class="Question-Text">
    <p><b>Question @serialNo: @Question.QuestionText</b></p>
</div>

<div class="contain-options">
    <input type="checkbox" name="q1" value="a">
    <label for="q1a">@Question.OptionOne</label><br>
    <br>
    <input type="checkbox" name="q1" value="b">
    <label for="q1b"> @Question.OptionTwo</label><br>
    <br>
    <input type="checkbox" name="q1" value="c">
    <label for="q1c"> @Question.OptionThree</label><br>
    <br>
    <input type="checkbox" name="q1" value="d">
    <label for="q1d">@Question.OptionFour</label><br>
</div>